.App {
  text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 55px;
  margin: 100px;
}

p {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  
}

button {
  margin: 35px;
  background-color: black;
  padding: 1rem 2rem;
  font-family: 'Comfortaa', cursive;
  font-size:17px;
  text-transform: uppercase;
  color: white;
}